{{#if productos}}

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titulo</th>
      <th scope="col">Precio</th>
      <th scope="col">Thumbnail</th>
    </tr>
  </thead>
  <tbody>
        
          {{#each productos}}
              <tr>
                  <th scope="row">{{this.id}}</th>
                  <td>{{this.title}}</td>
                  <td>{{this.price}}</td>
                  <td><img style="height: 50px" src="{{this.thumbnail}}"></td>
              </tr>
          {{/each}}
  </tbody>
</table>
{{else}}
          <p>No hay productos</p>
{{/if}}